<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
{% extends 'layout.html' %}
{% block main %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Hello, {{ userInfo.username }}!</h1>
        <p>欢迎进入，我的博客后台管理系统</p>
    </div>
</div>
{% endblock %}
</body>
</html>
